<!DOCTYPE html>
<html>
  <head>
    <title>Blog Application</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/shared/navbar' %>

    <section class="app-cont">
    <%= yield %>
  </section>

  <%= render "layouts/shared/footer" %>
  </body>
</html>
